@import "./mixins.scss";

.prefooter {
  width: 100%;
  height: 320px;
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  h1 {
    @include defaultText(50px, 75px);
  }
  li {
    display: grid;
    place-items: center;
    grid-template-columns: minmax(160px, 20%);
    padding: 10px 20px;
    gap: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
  }
}
.footer {
  margin-top: 200px;
  &-content {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    &__column1 {
      text-align: start;
      p {
        margin-top: 20px;
        @include p;
        font-size: 15px;
        line-height: 22.5px;
      }
    }
    &__columns-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      div {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 20px;
        h4 {
          @include defaultText(20px, 30px);
        }
        p {
          @include p;
          font-size: 15px;
          line-height: 22.5px;
        }
      }
    }
  }
}
.footer-author {
  margin-top: 100px;
  @include defaultText(20px, 30px);
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  strong {
    color: rgba(255, 255, 255, 1);
  }
}
@media screen and (max-width: 680px){
  .prefooter{
    h1{
      font-size: 30px;
      line-height: 45px;
    }
  }
}